:root{
    --primaryColor: #1D3557;
    --primaryOffset: #254574;
    --secondaryColor: #457B9D;
    --tertiaryColor: #A8DADC;
    --white: #fff;
}

.navbar{
    position: fixed;
    left: 0;
    right: 0;
    z-index: 10;
}



.navbar-center{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 80px;
    color: white;
    background-color: var(--primaryColor);
    padding: 0 3rem;
    z-index: 10;
}

h1{
    letter-spacing: 3px;
    cursor: pointer;
}

.navbar-links{
    display:flex;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    list-style: none;
    font-size: .82rem;
    width: 30%;
}

.navbar-links li {
    position: relative;
    padding: .5rem 1rem;
    cursor: pointer;
}
.navbar-links li::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: 0;
    background-color: var(--tertiaryColor);
    border-radius: 35px;
    transform: scale(0, 1);
    transition: transform 0.3s ease;
}

.navbar-links li:hover::after{
    transform: scale(1, 1);
}

.menu-icon{
    font-size: 1.4rem;
    color: white;
    display: none;
    cursor: pointer; 
    width: 22px;
    z-index: 4;
}


@media screen and (max-width: 992px){
 .navbar-links{
     width: 40%;
 }
}

@media screen and (max-width: 768px){
    .navbar-links{
        flex-direction: column;
        width: 60%;
        text-align: center;
        justify-content: space-around;
        height: 100vh;
        font-size: 1.1rem;
        font-weight: lighter;
        padding: 1rem 0;
        top: 0;
        right: 0;
        position: absolute;
        background-color: var(--primaryOffset);
        transition: all 0.3s ease;
        z-index: 3;
        transform: translateX(100%);
    }
    .show{
        transform: translateX(0);
    }
    
    .menu-icon{
        display: inline-block;
        width: 22px;
    }
    .menu-icon.close{
        border: 1px dotted white;
        width: 25px;
        height: 25px;
    }
}



