
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-size: 1rem;
    color: white;
    background-color: blueviolet;
    position: fixed;
    left: 0;
    right: 0;
}

h1{
    letter-spacing: 3px;
    cursor: pointer;
}

.navbar-links{
    display:flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    list-style: none;
    width: 30%;
}

.navbar-links li{
    padding: .7rem 1rem;
}
.navbar-links li:hover{
    border-radius: 5%;
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}



.menu-icon{
    font-size: 1.2rem;
    color: white;
    display: none;
    cursor: pointer; 
    width: 40%; 
}


@media screen and (max-width: 992px){
 .navbar-links{
     width: 40%;
 }
}

@media screen and (max-width: 768px){
    h2{
        font-size: 1.5rem;
    }
    .navbar-links{
        flex-direction: column;
        width: 100%;
        text-align: center;
        justify-content: space-around;
        height: 0;
        overflow: hidden;
        position: absolute;
        top: 8vh;
        background-color: blueviolet;
        transition: all 0.5s ease;
    }
    .show{
        height: 50vh;
    }
    
    .menu-icon{
        display: block;
        padding-left: 30%;
    }
    
    
}



