html{
    overflow-x: hidden;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root{
    --primaryColor: #1D3557;
    --primaryOffset: #254574;
    --secondaryColor: #457B9D;
    --tertiaryColor: #A8DADC;
    --white: #fff;
    --MaxWidth: 1500px;
}

body{
    background-color: var(--white);
    position: relative;
    overflow-x: hidden;
    color: var(--primaryColor);
}

.about h2,
.projects h2,
.contact h2{
    color: var(--primaryColor);
    font-weight: bolder;
}
/* Hero section */
.hero{
    min-height: 100vh;
    width: 100%;
    max-width: var(--MaxWidth);
    display: flex;
    background-color: var(--primaryColor);
    color: white;
    padding: 3rem 3.2rem 0 3.2em;
}
.main-hero{
    width: 100%;
    padding: 6rem 5rem;
}
.main-hero p {
    font-weight: lighter;
    font-size: 1.5rem;
    padding: 0 4px;
}
.main-hero h2{
    font-size: 5rem ;
}

.main-hero h4 {
    position: relative;
    top: -10px;
    font-size: 4rem;
    padding: 0 4px;
    font-weight: 600;
    color: var(--tertiaryColor);
}

.hero-btn{
    padding: .8rem 1rem;
    border: 2px solid var(--tertiaryColor);
    display: inline-block;
    margin: 2rem .45rem;
    cursor: pointer;
}

.hero-btn:hover{
    background-color: #a8dadc38;
}

.hero-links{
    align-self: flex-end;
    list-style: none;
    font-size: 1.5rem;
    min-height: 200px;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
}

.hero-links li a{
    color: var(--tertiaryColor);
}
.hero-links li{
    transition: all 0.3s ease;
}
.hero-links li:hover{
    transform: translateY(-10%);
}

/*About Section */

/*About content */

.about{
    display: flex;
    min-height: 90vh;
    margin: 0 10rem;
    max-width: var(--MaxWidth);
    align-items: center;
    justify-content: space-between;
    padding: 7rem 0;
}

.about h2{
    font-size: 2rem;
    padding: 1rem 0; 
}
.about-text p {
    line-height: 1.5;
    font-weight: 500;
    text-align: justify;
    text-justify: inter-word;
}

.about-text,
.about-skills{
    width: 45%;
    padding: 2rem 0;
    min-height: 400px;
}

.skill p{
    font-weight: 500;
}

.about-skills h2{
    padding: 1rem 1.5rem;
}

.skills-container{
    display: flex;
    flex-wrap: wrap;
    height: 180px;
}
.skill{
    flex-basis: 25%;
    margin:.5rem 0;
    text-align: center; 
}

.skill img{
    width: 30px;
    height: 30px;
}


/* Project section */
.projects{
    max-width: var(--MaxWidth);
    margin: 0 10rem;
    padding-bottom: 7rem;
}

.projects h2,
.contact h2{
    font-size: 2rem;
    padding: 1rem 0; 
    text-align: center;
    margin-bottom: 1rem;
}

.project{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 2rem;
    margin-bottom: 3rem;
    background-color: #d3dde0db;
    max-width: 1030px;
    border-radius: 4px;
}

.project-info{
    flex-basis: 35%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project-info h4{
    font-size: 1.5rem;
    font-weight: 600;
}
.project-info p {
    text-align: justify;
    line-height: 1.5;
    font-weight: 500;
}

.project-info a {
    text-decoration: none;
    color: black;
    display: inline-block;
}

.project-image{
    width: 60%;
    height: 350px;
    border-radius: 4px;
}

.tech-icons{
    display: flex;
}

.tech-icon{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.project-buttons{
    display: flex;
}

.project-button{
    padding: 10px 30px;
    padding-left: 18px;
    margin-right: 10px;
    background-color: white;
    -webkit-box-shadow: -2px 7px 18px 1px rgba(0,0,0,0.07); 
    box-shadow: -2px 7px 18px 1px rgba(0,0,0,0.07);
    cursor: pointer;
    border-radius: 4px;
}

.project-buttons div{
    position: relative;
}
.project-buttons svg {
    position: absolute;
    right: 20px;
    bottom: 13px;
    font-size: .8rem;
}


/* Contact section */
.contact{
    max-width: var(--MaxWidth);
    margin: 0 10rem;
    min-height: 100vh;
    padding-bottom: 7rem ;
}


/*Large Devices */
@media screen and (max-width:1200px) {
    /*About */
    .about{
        margin: 0 5rem;
    }
    .about-skills h2{
        padding: 1rem 1.1rem;
    }

    .about p {
        font-size: .95rem;
    }

    .skill p {
        text-align: center;
    }

    /* projects */
    .projects{
        margin: 0 5rem;
    }
    .project-info {
        font-size: .95rem;
    }

    /* Contact*/
    .contact{
        margin: 0 5rem;
        margin-bottom: 2rem;
    }

}

/*Medium devices */
@media screen and (max-width: 992px){
    .about h2, 
    .projects h4{
        text-align: center;
    }
    
    /* Hero */
    .hero{
       padding-top: 5rem;
    }
    .main-hero{
        padding: 4rem 3rem ;
    } 
    .main-hero p{
        font-size: 1rem;
    }

    .main-hero h2{
        font-size: 3.8rem;
    }
    .main-hero h4{
        font-size: 3.6rem;
    }

    .hero-btn{
        font-size: .9rem;
    }

    /* About */
    .projects,
    .about{
        flex-direction: column;
        margin: 0 8rem;
        padding: 2rem 0;
    }
    .about-text,
    .about-skills{
        min-height: fit-content;
        width: 100%;
        padding: 0;
    }
    .about-skills h2{
        padding: 1rem 0;
    }

    .skills-container{
        width: 105%;
        position: relative;
        left: -5%;
    }

    /* projects */
    .project{
        flex-direction: column;
        padding: 1rem ;
        min-height: 500px;
        justify-content: initial;
    }
    .project-image{
        order: -1;
        width: 90%;
        height: 250px;
        margin: 0 auto;
    }
    .project-info{
        height:  250px;
        flex-basis: initial;
        padding-top: 1rem;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        margin: 0 auto;
    }
    .project-info h4{
        font-size: 1.3rem;
        font-weight: 500;
    }

    /* contact */
    .contact {
        font-size: .9rem;
    }
    
}

/* Small devices */

@media screen and (max-width: 768px) {
    
    .about,
    .projects,
    .contact{
        flex-direction: column;
        margin: 0 3rem;
    }
    .about{
        padding: 2rem 0;
    }
    .projects,
    .contact{
        padding-bottom: 3.8rem;
    }

    /* Hero */
    .hero-links{
        display: none;
    }

    .hero{
        padding: 8rem 3rem;
        min-height: 70vh;
    }
    .main-hero{
        padding: 0;
    }

    .main-hero p{
        font-size: 1rem;
        padding: 0;
    }
    .main-hero h2{
        font-size: 2.5rem;
    }
    .main-hero h4{
        font-size: 2.2rem;
        padding: 0;
    }
    .hero-btn{
        font-size: .8rem;
        margin: 2rem 0 ;
    }

    .about h2,
    .projects h2, 
    .contact h2{
        font-size: 1.8rem;
    }

    .about-text{
        margin-bottom: 1.5rem;
    }
    /* Projects */
    .project {
        justify-content: start;
    }
    .project-image{
        height: 170px;
    }
    .project-info{
        height: 320px;
    }
    

} 

@media screen and (max-width: 426px) {
    /*Hero*/
    .main-hero{
        padding-top: 3rem;
    }
    
    .main-hero h2{
        font-size: 1.95rem;
    }
    .main-hero h4{
        font-size: 2rem;
    }
    .hero-btn{
        padding: .8rem 1.5rem;
        margin: 0;
        margin-top: 2rem;
    }

    .about {
        margin-bottom: 2rem;
    }
    .skill{
        flex-basis: 33.333%;
    }

    .skill img{
        width: 28px;
        height: 28px;
    }
    .skill p{
        font-size: .8rem;
    }

    .project p{
        line-height: 1.2 ;
        font-size: .9rem;
    }
    .tech-icon{
        width: 25px;
        height: 25px;
    }
}


@media screen and (max-width: 340px){
    html{
        font-size: 13px;
    }
    .main-hero h2{
        font-size: 1.8rem;
        padding: .5rem 0;
    }

    .main-hero h4{
        font-size: 1.7rem;
    }

    .project-info{
        justify-content: space-evenly;
    }
    .tech-icon{
        width: 22px;
        height: 22px;
        margin: 4px;
    }
}
